.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.container > * {
    width: 100%;
}

.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

input.right-align {
    -moz-appearance: textfield;
}

.bg-form-card {
    width: 500px;
}
